<link rel="stylesheet" href="https://res.cloudinary.com/dxojb4izx/raw/upload/v1652391066/chatapp/assets/webfonts/inter/inter_z80uxm.css"> 
<link rel="stylesheet" href="https://res.cloudinary.com/dxojb4izx/raw/upload/v1652391124/chatapp/assets/css/app.min_cuor0h.css">
<link rel="stylesheet" href="https://res.cloudinary.com/dxojb4izx/raw/upload/v1652391036/chatapp/assets/css/skins/dark-skin.min_vxvfs8.css">
{% load static %}
<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1654874739/chatapp/assets/js/main_ed4qo1.js"></script>

<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1652391074/chatapp/assets/vendors/jquery/jquery-3.5.0.min_zrowfk.js"></script>
<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1652391063/chatapp/assets/vendors/bootstrap/bootstrap.bundle.min_tiperk.js"></script>
<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1652391068/chatapp/assets/vendors/magnific-popup/jquery.magnific-popup.min_jze26a.js"></script>
<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1652391067/chatapp/assets/vendors/svg-inject/svg-inject.min_io7nq3.js"></script>
<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1652391065/chatapp/assets/vendors/modal-stepes/modal-steps.min_p2jyzh.js"></script>
<script src="https://res.cloudinary.com/dxojb4izx/raw/upload/v1652391035/chatapp/assets/js/app_yavly6.js"></script>